 /*this is not connecting to my html 
 and I need help.*/
 /*i moved this file into UX_UI_HW_17 
 and now it is connected, no longer in File css*/
li.inline-block{
    display: inline-block;
    vertical-align: top;
}
li{
    background-color:rgba(208, 229, 248, 0.849);
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-right:5%;
}
.logo{
    width:23%;
    padding:1%;
    text-align:center;
}
nav{
    width:73%;
    padding:1%;
}
ul{
    margin-left:auto;
    width:50%
}
section.heroImg{
    height:600px;
    padding:25px
}
div.content{
    width: 500px;
    margin:center;
    background: color #f0f0f0;
}
footer{
    background-color: #373738;
    width:100%;
    padding: 1%;
    display:inline-block;
    vertical-align:top; 
}
footer.ul{
    margin-right: auto;
    width:50%;
    padding: 30px;
}
div.flexContainer{
    display:flex;
    flex-direction: row;
}
.flexchild{
    width:33%;
    padding:15px;
    align-items:center;
    background-color: lavender;
}
.HEADSKILL{
    text-align:center;
    background-color: #d8ebfd;
    margin: 100;
    border-radius: 10px;
    border: 5px solid #190d4e;
    align-content: center;
}
.myWork{
    max-width: 90%;
}
.workGrid{
display: grid;
grid-template-rows: auto auto;
grid-template-columns: 1fr 3fr;
grid-template-areas:'item1 item2''item3 item4''item5 item6';
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
button{
    color: rgb(3, 2, 39);
}
@media (max-width:600px){
   div.flexContainer{
        flex-direction: column;
        width: 90%;
        flex-wrap: wrap;
    }
    .flexchild{
        width: 100%;
    }
    .workGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 15px;
        grid-template-areas:'item1' 'item2''item3' 'item4''item5' 'item6';
    }
    .HEADSKILL{
        max-width: 90%;
        align-self: center;
    }
    .myWork{
        align-content: center;
        width: 100%;
    }
    
}
/* i am having trouble with fitting the content, 
suffering from horizontal scroll*/
/*i fixed horizontal scroll*/